/*DieWing Products Website*/
/*Primary CSS*/
/*By Andy Diaz*/

/**************//**************//**************/
/**************//**  GENERAL **//**************/
/**************//**************//**************/
body{
    background-color: #060606;
}
.close{
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    font-size: 35px;
    margin-right: 8px;
    text-decoration: none;
    color: red;
    position: absolute;
    top: 0;
    right: 0;
}
.nowrap {
    white-space: nowrap ;
}

/**************//**************//**************/
/**************//**  HEADER  **//**************/
/**************//**************//**************/
header{
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 0;
    width: 100%;
    z-index: 100;
}
#head{
    float: top;
    color: #d10019;
}

/*siteName start*/
#siteName{
    float: left;
    margin-left: 25px;
}
#siteName img{
    float: left;
    height: 70px;
    width: 100px;
}
#siteName h1{
    float: left;
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    font-size: 53px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 1px;
}
/*siteName end*/

/*signInName start*/
#signInName{
    float: top;
    text-align: center;
    position:relative
}
#signInName img{
    float: top;
    height: 200px;
}
/*signInName end*/

/*signIn start*/
#signIn{
    float: right;
}
#signIn ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#signIn li{
    float: right;
    margin-right: 25px;
}
#signIn li a{
    border-radius:15px;
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #d10019;
}
#signIn li a:hover {
    background-color: #333;
}
/*signIn end*/

/*navbar start*/
#navbar{

}
#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
#navbar li{
    float: right;
    margin-right: 25px;
    font-family: 'Brush Script MT', cursive;
    font-size: 23px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    line-height: 1px;
    color: white;
}
#navbar li a{
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}
#navbar li a:hover {
    background-color: #c60016;
}
/*navbar end*/

/**************//**************//**************/
/**************//** CONTENT  **//**************/
/**************//**************//**************/
#content{
    text-align: center;
    background-color: white;
    width: 80%;
    margin-top: 120px;
    margin-bottom: 75px;
    margin-left: 10%;
    margin-right: 10%;
}

#pradaList{
    text-align: center;
    width: 80%;
    margin-top: 120px;
    margin-bottom: 75px;
    margin-left: 10%;
    margin-right: 10%;
}

.textboxIMG{
    float: left;
    margin-left: 25px;
}
.textboxIMG2{
    float: right;
    margin-left: 25px;
}

/*textbox start*/
.textbox{
    padding: 5px;
    margin-left: 35px;
    margin-right: 35px;
    line-height: 10px;
}
.textbox p{
    text-align: left;
    font-family: 'Brush Script MT', cursive;
    font-size: 25px;
    line-height: 5px;
}
.textbox h1{
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    font-size: 55px;
    font-style: normal;
    font-variant: normal;
    line-height: 10px;
    display: block;
}

.textbox h2{
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    line-height: 5px;
    display: block;
}
.textbox h3{
    text-align: left;
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    line-height: 10px;
    display: block;
}
.textbox a{
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    line-height: 20px;
    display: block;
    color: #727272;
}
.textbox img{
    height: 70px;
    width: 100px;
}
/*textbox end*/

/*textbox Type2 start*/
.textboxT2{
    text-align: left;
    padding: 5px;
    margin-left: 35px;
    margin-right: 35px;
    line-height: 10px;
}
.textboxT2 h1{
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    line-height: 10px;
    display: block;
}
.textboxT2 h2{
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    line-height: 10px;
    display: block;
}
.textboxT2 h3{
    font-family: 'Brush Script MT', cursive;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    line-height: 20px;
    display: block;
}
.textboxT2 p{
    line-height: 20px;
    margin-left: 40px;
}
.textboxT2 a{
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    line-height: 20px;
    display: block;
    color: #727272;
}
.textboxT2 img{
    height: 70px;
    width: 100px;
}
/*textbox Type2 end*/

/*productLine start*/
.productLine{
    width: 100%;
}
.productLine ul{
    margin-left: 2%;
    margin-right: 2%;
    list-style-type: none;
    overflow: hidden;
}
.productLine li{
    margin-left: 2%;
    margin-right: 2%;
}
.open{
    text-align: center;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 4%;
    margin-bottom: 4%;
    float: left;
    height: 27%;
    width: 27%;
    border-width: 7px;
    border-style: inset;
    border-color: #c60016;
}
.productLine li img{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 4%;
    margin-bottom: 4%;
    float: top;
    height: 95px;
    width: 96%;
}
.open p{
    margin-left: 0
}
.open a{
    color: white;
    margin-left: 27.5%;
    margin-right: 2%;
    margin-top: 4%;
    margin-bottom: 4%;
    float: bottom;
    height: 27%;
    width: 27%;
    border-style: solid;
}
.myButton{
    -moz-box-shadow: 0px 1px 0px 0px #1c1b18;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 98px;
    height: 26px;
    cursor: pointer;
    margin: 9px 14% 9px 0;
    padding: 10px 20px;
    border: 3px solid rgb(225, 0, 22);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    font-size: 20px;
    color: rgb(37, 37, 37);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #252525;
    text-decoration: none;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    text-shadow: -1px -1px 0 rgb(198, 0, 22);
}
.myButton:active{
    position:relative;
    top:1px;
}
.myButton:hover{
    content: attr(data-hover);
}

.itm1{

}
.itm2 {
    -webkit-filter: brightness(3); filter: brightness(3);
}
.itm3{
    -webkit-filter: invert(100%); filter: invert(100%);
}
/*productLine end*/

/**************//**************//**************/
/**************//**  FOOTER  **//**************/
/**************//**************//**************/
footer{
    text-align: center;
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 1px;
    color: #555555;
}
#lowLinks a{
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #5a000a;
}
#lowLinks img{
    height: 52px;
    width: 75px;
}


/**************//**************//**************/
/**************//**  SLIDER  **//**************/
/**************//**************//**************/

/* ANIMATIONS */
@-moz-keyframes cycle {
    0%  { top:0px; }
    4%  { top:0px; }
    16% { top:0px; opacity:1; z-index:0; }
    20% { top:325px; opacity:0; z-index:0; }
    21% { top:-325px; opacity:0; z-index:-1; }
    92% { top:-325px; opacity:0; z-index:0; }
    96% { top:-325px; opacity:0; }
    100%{ top:0px; opacity:1; }

}
@-moz-keyframes cycletwo {
    0%  { top:-325px; opacity:0; }
    16% { top:-325px; opacity:0; }
    20% { top:0px; opacity:1; }
    24% { top:0px; opacity:1; }
    36% { top:0px; opacity:1; z-index:0; }
    40% { top:325px; opacity:0; z-index:0; }
    41% { top:-325px; opacity:0; z-index:-1; }
    100%{ top:-325px; opacity:0; z-index:-1; }
}
@-moz-keyframes cyclethree {
    0%  { top:-325px; opacity:0; }
    36% { top:-325px; opacity:0; }
    40% { top:0px; opacity:1; }
    44% { top:0px; opacity:1; }
    56% { top:0px; opacity:1; }
    60% { top:325px; opacity:0; z-index:0; }
    61% { top:-325px; opacity:0; z-index:-1; }
    100%{ top:-325px; opacity:0; z-index:-1; }
}
@-moz-keyframes cyclefour {
    0%  { top:-325px; opacity:0; }
    56% { top:-325px; opacity:0; }
    60% { top:0px; opacity:1; }
    64% { top:0px; opacity:1; }
    76% { top:0px; opacity:1; z-index:0; }
    80% { top:325px; opacity:0; z-index:0; }
    81% { top:-325px; opacity:0; z-index:-1; }
    100%{ top:-325px; opacity:0; z-index:-1; }
}
@-moz-keyframes cyclefive {
    0%  { top:-325px; opacity:0; }
    76% { top:-325px; opacity:0; }
    80% { top:0px; opacity:1; }
    84% { top:0px; opacity:1; }
    96% { top:0px; opacity:1; z-index:0; }
    100%{ top:325px; opacity:0; z-index:0; }
}

@-webkit-keyframes cycle {
    0%  { top:0px; }
    4%  { top:0px; }
    16% { top:0px; opacity:1; z-index:0; }
    20% { top:325px; opacity:0; z-index:0; }
    21% { top:-325px; opacity:0; z-index:-1; }
    50% { top:-325px; opacity:0; z-index:-1; }
    92% { top:-325px; opacity:0; z-index:0; }
    96% { top:-325px; opacity:0; }
    100%{ top:0px; opacity:1; }

}
@-webkit-keyframes cycletwo {
    0%  { top:-325px; opacity:0; }
    16% { top:-325px; opacity:0; }
    20% { top:0px; opacity:1; }
    24% { top:0px; opacity:1; }
    36% { top:0px; opacity:1; z-index:0; }
    40% { top:325px; opacity:0; z-index:0; }
    41% { top:-325px; opacity:0; z-index:-1; }
    100%{ top:-325px; opacity:0; z-index:-1; }
}
@-webkit-keyframes cyclethree {
    0%  { top:-325px; opacity:0; }
    36% { top:-325px; opacity:0; }
    40% { top:0px; opacity:1; }
    44% { top:0px; opacity:1; }
    56% { top:0px; opacity:1; z-index:0; }
    60% { top:325px; opacity:0; z-index:0; }
    61% { top:-325px; opacity:0; z-index:-1; }
    100%{ top:-325px; opacity:0; z-index:-1; }
}
@-webkit-keyframes cyclefour {
    0%  { top:-325px; opacity:0; }
    56% { top:-325px; opacity:0; }
    60% { top:0px; opacity:1; }
    64% { top:0px; opacity:1; }
    76% { top:0px; opacity:1; z-index:0; }
    80% { top:325px; opacity:0; z-index:0; }
    81% { top:-325px; opacity:0; z-index:-1; }
    100%{ top:-325px; opacity:0; z-index:-1; }
}
@-webkit-keyframes cyclefive {
    0%  { top:-325px; opacity:0; }
    76% { top:-325px; opacity:0; }
    80% { top:0px; opacity:1; }
    84% { top:0px; opacity:1; }
    96% { top:0px; opacity:1; z-index:0; }
    100%{ top:325px; opacity:0; z-index:0; }
}

/* ANIMATION BAR */
@-moz-keyframes fullexpand {
    0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
    4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; }
    16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.7; }
    17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3; }
    18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; }
}
@-webkit-keyframes fullexpand {
    0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; }
    4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; }
    16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.7; }
    17%, 37%, 57%, 77%, 97% { width:100%; opacity:0.3; }
    18%, 38%, 58%, 78%, 98% { width:100%; opacity:0; }
}

/* LAYOUT */
.container {
    margin:0 auto;
    overflow:hidden;
    width: 100%;
    color: white;
}
/* CONTENT SLIDER */
#content-slider {
    margin-top: 113px;
    height:360px;
    width: 99%;
}
/* SLIDER */
#slider {
    background:#000;
    border:5px solid #e9e9e9;
    box-shadow:1px 1px 5px rgba(0,0,0,0.7);
    overflow:visible;
    position:relative;
    height:320px;
    width: 100%;
}
.imgSize{
    height:320px;
    width: 703px
}
.imgSize2{
    -webkit-filter: brightness(30%); filter: brightness(30%);
    height:320px;
    width: 703px
}
#mask {
    overflow:hidden;
    height:320px;
}
#slider ul {
    float: left;
    margin:0;
    padding:0;
}
#slider li {
    position:absolute;
    top:-325px;
    list-style:none;
}

#slider li.firstanimation {
    -moz-animation:cycle 25s linear infinite;
    -webkit-animation:cycle 25s linear infinite;
}
#slider li.secondanimation {
    -moz-animation:cycletwo 25s linear infinite;
    -webkit-animation:cycletwo 25s linear infinite;
}
#slider li.thirdanimation {
    -moz-animation:cyclethree 25s linear infinite;
    -webkit-animation:cyclethree 25s linear infinite;
}
#slider li.fourthanimation {
    -moz-animation:cyclefour 25s linear infinite;
    -webkit-animation:cyclefour 25s linear infinite;
}
#slider li.fifthanimation {
    -moz-animation:cyclefive 25s linear infinite;
    -webkit-animation:cyclefive 25s linear infinite;
}

#slider li#first:hover .tooltip,
#slider li#second:hover .tooltip,
#slider li#third:hover .tooltip,
#slider li#fourth:hover .tooltip,
#slider li#fifth:hover .tooltip {
    left:0px;
}
#slider:hover li,
#slider:hover .progress-bar {
    background-color: #c60016;
    -moz-animation-play-state:paused;
    -webkit-animation-play-state:paused;
}
#slider h3{
    margin-left: 100px;
    position: absolute;
    z-index:1002;
    overflow: auto;
    font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
    font-size: 50px;
    float: left;
    color: gray;
    font-weight: 500;
}


.progress-bar {
    background-color: #727272;
    position: relative;
    top: -5px;
    width: 680px;
    height: 5px;
    -moz-animation: fullexpand 25s ease-out infinite;
    -webkit-animation: fullexpand 25s ease-out infinite;
}

/**************//**************//**************/
/**************//***  OTHER  **//**************/
/**************//**************//**************/

.stuff{
    padding: 0 100px;
    color: white;
}
.stuffHead{
    text-align: center;
}